

/* Open_Sans */

@font-face {
    font-family: "Open_Sans";
    src: url(../Open_Sans/OpenSans-Regular.ttf);
    font-weight: 400;
}

/* //Open_Sans */

/* Poppins */

@font-face {
    font-family: "Poppins";
    src: url(../Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(../Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

/* //Poppins */